---
title: "Blog"
layout: "../layouts/Base.astro"
---

<h1>Blog</h1>
<ul>
  <li><a href="/blog/why-i-believe-in-open-ai-governance">Why I Believe in Open AI Governance</a></li>
  <li><a href="/blog/the-importance-of-systemic-trust">The Importance of Systemic Trust</a></li>
</ul>
